html, body {
    width: 100%; 
    height: 100%;
    margin: 0 auto;
}

#game-screen {
    background-image: linear-gradient(0deg, #f5deb3 5%, #6495ed 50%, black 115%);
    user-select: none;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}