<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Division | Florian</title>

    <script src="../../src/js/content/pages/flopedia/math/division/main.js" defer></script>
    <link rel="stylesheet" href="../../css/flopedia/math/division.css" />
  </head>
  <body>
    <main>
      <section class="aufgabe">
        <div id="number"></div>
        <div id="divider"></div>
        <div id="result"></div>
      </section>
      <section id="checkDivision" class="button-container">
        <label>Passt</label>
        <form onsubmit="return false;">
          <button class="checker-button">Ja</button>
          <button class="checker-button">Nein</button>
        </form>
      </section>
      <section id="ergebnis" class="button-container">
        <label>Ist</label>
        <form onsubmit="return false;">
          <button id="button-0" class="number-button">0</button>
          <button id="button-1" class="number-button">1</button>
          <button id="button-2" class="number-button">2</button>
          <button id="button-3" class="number-button">3</button>
          <button id="button-4" class="number-button">4</button>
          <button id="button-5" class="number-button">5</button>
          <button id="button-6" class="number-button">6</button>
          <button id="button-7" class="number-button">7</button>
          <button id="button-8" class="number-button">8</button>
          <button id="button-9" class="number-button">9</button>
        </form>
      </section>
    </main>
  </body>
</html>
