<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Flopedia</title>

    <link href="./css/flopedia.css" rel="stylesheet" />
    <script src="./src/js/content/pages/flopedia/index/main.js" defer></script>
  </head>
  <body>
    <main>
      <section class="search-bar">
        <div class="">Flopedia</div>
        <form>
          <input type="text" onsubmit="search(this)" />
        </form>
      </section>
    </main>
  </body>
</html>
