extends layout.pug

block nav-links 
  div.nav-link 
    a.active(href="/") Home 
  div.nav-link 
    a(href="games") Games
  div.nav-link 
    a(href="school") School 

block layout-content
  div#test
