extends layout 

block layout-content
  div#school.collection-container
    each val in content
      div.game
        a(href="../../frontend/public/school/" + val + "/index.html")
          img(src="", alt=val)