html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(45, 45, 45);
  text-align: center;
}

#screen {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  border: 4px black solid;    
}

@media screen and (orientation: portrait){
  #screen {
    min-width: 250px;
    min-height: 250px;
    width: 90vw;
    height: 90vw;
  }
}

@media screen and (orientation: landscape) {
  #screen {
    min-width: 350px;
    min-height: 350px;
    max-width: 90vh;
    max-height: 90vh;
    width: 65vh;
    height: 65vh;
  }
}