html,
body {
  background-color: rgb(45, 45, 45);
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Consolas;
  color: white;
}

.grid {
  height: 100vh;
  display: grid;
}

.clicker {
  display: grid;
  grid-template-rows: 0% 100%;
}

.moneyCounter {
  text-align: center;
  margin-top: 5vh;
  font-size: 6em;
  cursor:default;
}

.clickThing {
  place-self: center;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  transition-duration: 50ms;
  cursor: pointer;
}

.clickThing:hover {
  transform: scale(1.05);
}

.clickThing:active {
  transform: scale(1);
}

.shop {
  background-color: cadetblue;
  display: grid;
}

.shop > div {
  border: 5px red dashed;
}

.upgrades {
  text-align: center;
  place-self: center;
  font-size: 2em
}

.passives {
  text-align: center;
  place-self: center;
  font-size: 2em
}

@media screen and (orientation:landscape) {
  .grid {
    grid-template-columns: 65% 35%;
  }

  .clickThing {
    width: 33vmin;
  }

  .shop {
    grid-template-rows: 22.5% 77.5%;
  }
}

@media screen and (orientation:portrait) {
  .grid {
    grid-template-rows: 65% 35%;
  }

  .clicker {
    grid-template-rows: 10% 90%;
  }

  .moneyCounter {
    margin-top: 2vh;
    font-size: 3.5em;
  }

  .clickThing {
    width: 60vmin;
  }

  .shop {
    grid-template-rows: 22.5% 77.5%;
  }
}