html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(45, 45, 45);

  font-family: Consolas;
  color: white;
}

.grid {
  display: grid;
  place-content: center;
  grid-template-rows: 50%, 50%;
  height: 100%;
  width: 100%;
}

.math-problem {
  font-size: 5em;
  margin-top: -20vh;
  text-align: center;
}

.input-block {
  display: grid;
  place-content: center;
}

.input {
  text-align: center;
  width: 25vw;
  aspect-ratio: 10 / 3;
  font-size: 5em;
}