block variables

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title} | Florian
    link(rel="stylesheet", href="./style.css")
    link(rel="icon", type="image", href="./pp.jpg")
  body 
    div.nav-bar
      h1 My Website
      div.nav-links
        div.nav-link 
          a(href="/", class=(title == "Home" ? "active" : "test")) Home 
        div.nav-link 
          a(href="/games", class=(title == "Games" ? "active" : "test")) Games
        div.nav-link 
          a(href="/school", class=(title == "School" ? "active" : "test")) School 
      div
        img(src="./settings.png" class="settings")
    div#root 
      block layout-content