html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-screen {
    background-color: white;
    width: 65vmin;
    height: 65vmin; 
}

#game-area p {
    color: white;
    font-family: Consolas;
    text-align: center;
    font-size: 10vmin;
    margin-bottom: 5%;
    margin-top: -5%;
}