html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: rgb(45, 45, 45);
}

#game-screen {
  background-color: white;
  height: 75vh;
  aspect-ratio: 1 / 1;
}